{
  "plugins": [
    "@semantic-release/commit-analyzer",
    ["@semantic-release/release-notes-generator", {
      "writerOpts": {
        "headerPartial": ""
      }
    }],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
